@using DevCom.Models;
@model DevCom.Models.NotepadViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 overflow-hidden">
            <button type="button" class="btn btn-primary w-100 mb-3"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                + Create
            </button>

            <div class="list-group">
                @foreach (var item in Model.Notepads)
                {
                    <a class="list-group-item list-group-item-action notes"
                       data-toggle="collapse" href="#demo1" aria-expanded="false" aria-controls="demo1">
                        @item.Title
                    </a>
                }
            </div>
        </div>
        <div class="col">
            @*<div id="demo1" class="collapse multi-collapse">
                @Html.Partial("Show")
              </div>
            *@


        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Note Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        @Html.TextBoxFor(m => m.Notepad.Title, new { @class = "form-control" })

                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

  
@section Scripts{
    <script type="text/javascript">
        function create() {
            
        }
    </script>
}

@Scripts.Render("~/Scripts/notepadIndex.js")



@*
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creation_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Update_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag.Tag1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Username)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creation_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Update_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag.Tag1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Notepad_Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Notepad_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Notepad_Id })
            </td>
        </tr>
    }

    </table>
*@
