@model IEnumerable<DevCom.Models.Notepad>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 overflow-hidden">
            <div class="list-group">
                @*@foreach (var item in Model)*@


                <a href="#" class="list-group-item list-group-item-action notes" aria-current="true">
                    The current link item
                </a>
                <a href="#" class="list-group-item list-group-item-action notes">A second link item</a>
                <a href="#" class="list-group-item list-group-item-action notes">A third link item</a>
                <a href="#" class="list-group-item list-group-item-action notes">A fourth link item</a>
                <a href="#" class="list-group-item list-group-item-action notes" tabindex="-1" aria-disabled="true">A disabled link item</a>
            </div>
        </div>
    </div>
</div>

<section>

</section>

@Scripts.Render("~/Scripts/notepadIndex.js")



@*
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creation_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Update_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag.Tag1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Username)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creation_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Update_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag.Tag1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Notepad_Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Notepad_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Notepad_Id })
            </td>
        </tr>
    }

    </table>
*@
