<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid bg-dark vh-100">
        <div class="row h-100">
            <div class="col-md-2 bg-info pt-5 text-center position-relative">
                <div class="row">
                    <div class="col">
                        <img src="..." class="rounded " alt="...">
                    </div>
                </div>
                <div class="position-absolute start-50 top-50 translate-middle w-100">
                    <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
                        <li class="nav-item border-top border-3 border-dark d-flex justify-content-center" role="presentation">
                            <button class="nav-link active w-100" id="notepad-tab" data-bs-toggle="tab" data-bs-target="#notepad" type="button" role="tab" aria-controls="notepad" aria-selected="true">Notepad</button>
                        </li>
                        <li class="nav-item border-top border-bottom border-3 border-dark d-flex justify-content-center" role="presentation">
                            <button class="nav-link w-100" id="task-tab" data-bs-toggle="tab" data-bs-target="#task" type="button" role="tab" aria-controls="task" aria-selected="false">Task</button>
                        </li>
                        <li class="nav-item border-bottom border-3 border-dark d-flex justify-content-center" role="presentation">
                            <button class="nav-link w-100" id="reminder-tab" data-bs-toggle="tab" data-bs-target="#reminder" type="button" role="tab" aria-controls="reminder" aria-selected="false">Reminder</button>
                        </li>
                        <li class="nav-item border-bottom border-3 border-dark d-flex justify-content-center" role="presentation">
                            <button class="nav-link w-100" id="visual-tab" data-bs-toggle="tab" data-bs-target="#visual" type="button" role="tab" aria-controls="visual" aria-selected="false">Visual</button>
                        </li>
                    </ul>
                </div>
                <div class="position-absolute bottom-0 start-50 translate-middle-x w-100">
                    <div class="border-top border-3 border-dark">
                        <a class="btn w-100 " href="">Storage</a>
                    </div>
                </div>

            </div>
            <div class="col text-light">
                <div class="d-flex flex-column h-100">
                    <div class="row p-5">

                    </div>
                    <div class="row flex-grow-1">
                        <div class="tab-content" id="myTabContent">
                            <div class="container body-content">
                                @RenderBody()
                                <hr />
                                <footer>
                                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
